      <div>
        <div [ngStyle]="{'justifyContent':'center'}" class="outerDiv">
          <div
            id="I13:13;12:55"
            [ngStyle]="{'width':'628.5506591796875px','marginLeft':'-5.366455078125px','height':null,'marginTop':'38.907073974609375px','marginBottom':'36.8946533203125px','minHeight':'213.31814575195312px','backgroundColor':'rgba(0, 0, 0, 1)','borderRadius':'26.832469940185547px 26.832469940185547px 26.832469940185547px 26.832469940185547px'}"
            class="innerDiv"
          >
            <div>
            </div>
          </div>
        </div>
        <div [ngStyle]="{'zIndex':1,'justifyContent':'center'}" class="outerDiv">
          <div
            id="I13:13;12:57"
            [ngStyle]="{'width':'297.8404235839844px','marginLeft':'-59.702178955078125px','height':null,'marginTop':'-199.90191650390625px','marginBottom':'88.54716491699219px','minHeight':'111.35475158691406px','color':'rgba(255, 255, 255, 1)','fontSize':'96.59689331054688px','fontWeight':700,'fontFamily':'Roboto','textAlign':'CENTER','fontStyle':'normal','lineHeight':'125%','letterSpacing':'0px'}"
            class="innerDiv"
          >
            <div>
                <span [ngStyle]="{}" key="end">
            <ng-container *ngIf="props?.time">{{props.time}}</ng-container>
            <ng-container *ngIf="!props?.time">10:10</ng-container>
            </span>
            </div>
          </div>
        </div>
        <div [ngStyle]="{'zIndex':2,'justifyContent':'center'}" class="outerDiv">
          <div
            id="I13:13;12:58"
            [ngStyle]="{'width':'79.689208984375px','marginLeft':'268.1873779296875px','height':null,'marginTop':'-185.81484985351562px','marginBottom':'119.06339263916016px','minHeight':'66.75145721435547px','color':'rgba(255, 255, 255, 1)','fontSize':'32.19896697998047px','fontWeight':700,'fontFamily':'Roboto','textAlign':'CENTER','fontStyle':'normal','lineHeight':'125%','letterSpacing':'0px'}"
            class="innerDiv"
          >
            <div>
                <span [ngStyle]="{}" key="end">
            <ng-container *ngIf="props?.seconds">{{props.seconds}}</ng-container>
            <ng-container *ngIf="!props?.seconds">:10</ng-container>
            </span>
            </div>
          </div>
        </div>
        <div [ngStyle]="{'zIndex':3,'justifyContent':'center'}" class="outerDiv">
          <div
            id="I13:13;12:59"
            [ngStyle]="{'width':'64.45450592041016px','marginLeft':'274.41849517822266px','height':null,'marginTop':'-137.51641845703125px','marginBottom':'87.1600570678711px','minHeight':'50.356361389160156px','color':'rgba(255, 255, 255, 1)','fontSize':'24.14922332763672px','fontWeight':700,'fontFamily':'Roboto','textAlign':'CENTER','fontStyle':'normal','lineHeight':'125%','letterSpacing':'0px'}"
            class="innerDiv"
          >
            <div>
                <span [ngStyle]="{}" key="end">
            <ng-container *ngIf="props?.ampm">{{props.ampm}}</ng-container>
            <ng-container *ngIf="!props?.ampm">PM</ng-container>
            </span>
            </div>
          </div>
        </div>
        <div [ngStyle]="{'zIndex':6}" class="outerDiv centerer">
          <div
            id="I13:13;12:60"
            [ngStyle]="{'marginLeft':'61.0438232421875px','marginRight':'631.0103235244751px','flexGrow':1,'marginTop':'61.04388427734375px','marginBottom':'204.59757614135742px'}"
            class="innerDiv"
          >
        <div class="vector"><svg preserveAspectRatio="none" width="16" height="24" viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8.00002 12C8.00002 9.79087 9.79088 7.99999 12 7.99999C14.2091 7.99999 16 9.79084 16 12C16 14.2091 14.2091 16 12 16C9.79088 16 8.00002 14.2091 8.00002 12Z" fill="#1ABCFE"/>
<path d="M0 20C0 17.7909 1.79086 16 3.99999 16H7.99998V20C7.99998 22.2091 6.20913 24 3.99999 24C1.79086 24 0 22.2091 0 20Z" fill="#0ACF83"/>
<path d="M8.00002 3.11955e-05V8.00001H12C14.2091 8.00001 16 6.20916 16 4.00002C16 1.79089 14.2091 3.11955e-05 12 3.11955e-05L8.00002 3.11955e-05Z" fill="#FF7262"/>
<path d="M0 4C0 6.20913 1.79086 7.99999 3.99999 7.99999L7.99998 7.99999L7.99998 3.89943e-06L3.99999 3.89943e-06C1.79086 3.89943e-06 0 1.79086 0 4Z" fill="#F24E1E"/>
<path d="M0 12C0 14.2091 1.79086 16 3.99999 16H7.99998L7.99998 8.00002H3.99999C1.79086 8.00002 0 9.79088 0 12Z" fill="#A259FF"/>
</svg>
</div>
          </div>
        </div>
      </div>
