      <div>
        <div [ngStyle]="{'justifyContent':'center'}" class="outerDiv">
          <div
            id="13:13"
            [ngStyle]="{'width':'707.7064208984375px','marginLeft':'-0.2935791015625px','height':null,'marginTop':'109px','marginBottom':'244.880126953125px','minHeight':'289.119873046875px','backgroundColor':'rgba(255, 255, 255, 1)','overflow':'hidden'}"
            class="innerDiv"
          >
        <div [ngStyle]="{'justifyContent':'center'}" class="outerDiv">
          <app-CClock [props]="props"
            id="13:13"
            [ngStyle]="{'width':'707.7064208984375px','marginLeft':'-0.2935791015625px','height':null,'marginTop':'109px','marginBottom':'244.880126953125px','minHeight':'289.119873046875px','backgroundColor':'rgba(255, 255, 255, 1)','overflow':'hidden'}"
            class="innerDiv"
          >
</app-CClock>
</div>
          </div>
        </div>
      </div>
